<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">@_localizer["title"]</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">@_localizer["oldpass"]</label>
                            <div class="layui-input-inline">
                                <input type="password" name="oldPassword" lay-verify="pass" lay-verType="tips" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">@_localizer["newpass"]</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" lay-verify="pass" lay-verType="tips" autocomplete="off" id="password" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">@_localizer["repass"]</label>
                            <div class="layui-input-inline">
                                <input type="password" name="repass" lay-verify="repass" lay-verType="tips" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="setmypass">@_localizer["btn"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        layui.config({
            base: '../../../layuiadmin/'
        }).extend({
            index: 'lib/index'
        }).use(['index', 'form', 'layer'], function () {
            var form = layui.form
                , $ = layui.jquery
                , layer = layui.layer;

            $(".layui-form-label").css({
                "width": "100px",
            });

            form.verify({
                pass: [
                    /^[\S]{6,12}$/
                    , '@_localizer["verify.pass"]'
                ]
                , repass: function (value) {
                    if (value !== $('#password').val()) {
                        return '@_localizer["verify.repass"]';
                    }
                }
            });

            form.on('submit(setmypass)', function (data) {
                $.ajax({
                    type: "post",
                    dataType: 'json',
                    url: '/api/password',
                    data: JSON.stringify(data.field),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (result) {
                        if (result.code == 0) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            }, function () {
                                location.reload();
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                });
            });
        });
    </script>
}