@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@_localizer["title"]</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
    <link href="~/layuiadmin/style/login.css" rel="stylesheet" />
</head>
<body>
    <div class="layadmin-user-login">
        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username"></label>
                    <input type="text" name="userName" lay-verify="username" placeholder="@_localizer["username"]" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"></label>
                    <input type="text" name="email" lay-verify="email" placeholder="@_localizer["email"]" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"></label>
                    <input type="password" name="password" id="password" lay-verify="pass" placeholder="@_localizer["password"]" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"></label>
                    <input type="password" name="repass" lay-verify="repass" placeholder="@_localizer["repass"]" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-xs7">
                            <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"></label>
                            <input type="text" id="vercode" lay-verify="vercode" placeholder="@_localizer["vercode"]" class="layui-input">
                        </div>
                        <div class="layui-col-xs5">
                            <div style="margin-left: 10px;">
                                <img src="/api/verifycode" title="@_localizer["imgtitle"]" class="layadmin-user-login-codeimg" id="verifycode">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="reg-submit">@_localizer["btn"]</button>
                </div>
                <div class="layui-trans layui-form-item">
                    <a href="@Url.Action("Login", "Account")" class="layadmin-user-jump-change layadmin-link">@_localizer["logintext"]</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script>
        layui.use(['form', 'layer'], function () {
            var form = layui.form
                , $ = layui.jquery
                , layer = layui.layer;

            $("#verifycode").bind("click", function () {
                this.src = "/api/verifycode?r=" + Math.random();
            });

            form.verify({
                username: function (value, item) {
                    if (value.trim().length < 3 || value.trim().length > 12) {
                        return '@_localizer["verify.username1"]';
                    }
                    if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                        return '@_localizer["verify.username2"]';
                    }
                    if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                        return '@_localizer["verify.username3"]\'_\'';
                    }
                    if (/^\d+\d+\d$/.test(value)) {
                        return '@_localizer["verify.username4"]';
                    }
                }
                , vercode: function (value, item) {
                    if (value.trim().length <= 0) {
                        return '@_localizer["verify.vercode"]';
                    }
                }
                , email: [
                    /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/
                    , '@_localizer["verify.email"]'
                ]
                , pass: [
                    /^[\S]{6,12}$/
                    , '@_localizer["verify.pass"]'
                ]
                , repass: function (value) {
                    if (value !== $('#password').val()) {
                        return '@_localizer["verify.repass"]';
                    }
                }
            });

            form.on('submit(reg-submit)', function (data) {
                $.ajax({
                    url: '/api/check_verifycode?code=' + $("#vercode").val().trim(),
                    type: "get",
                    dataType: 'json',
                    data: null,
                    success: function (result) {
                        if (result) {
                            $.ajax({
                                url: '/api/register',
                                type: "POST",
                                dataType: 'json',
                                data: JSON.stringify(data.field),
                                contentType: 'application/json;charset=UTF-8',
                                success: function (result) {
                                    if (result.code === 0) {
                                        layer.msg(result.msg, {
                                            icon: 1,
                                            time: 1000
                                        }, function () {
                                            window.location.href = "/account/login";
                                        });
                                    }
                                    if (result.code === 1) {
                                        layer.msg(result.msg, {
                                            icon: 2,
                                            time: 2000
                                        });
                                    }
                                }
                            });
                        } else {
                            layer.msg("@_localizer["msg"]", {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>