@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@_localizer["title"]</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
    <link href="~/layuiadmin/style/login.css" rel="stylesheet" />
</head>
<body>
    <div class="layadmin-user-login">
        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <div class="layui-hide">
                    <input type="text" name="token" id="token" value="" />
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"></label>
                    <input type="password" name="password" id="password" lay-verify="pass" placeholder="@_localizer["password"]" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-password"></label>
                    <input type="password" name="repass" lay-verify="repass" placeholder="@_localizer["repass"]" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="forget-resetpass">@_localizer["btn"]</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/layuiadmin/layui/layui.js"></script>
<script>
    layui.use(['form', 'layer'], function () {
        var layer = layui.layer
            , $ = layui.jquery
            , form = layui.form;

        function queryString(name) {
            var url = encodeURI(location.search);
            var request = new Object();
            if (url.indexOf("?") !== -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for (var i = 0; i < strs.length; i++) {
                    request[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
                }
            }
            return request[name];
        }
        document.getElementById("token").value = queryString("token");

        form.verify({
            pass: [
                /^[\S]{6,12}$/
                , '@_localizer["verify.pass"]'
            ]
            , repass: function (value) {
                if (value !== $('#password').val()) {
                    return '@_localizer["verify.repass"]';
                }
            }
        });

        form.on('submit(forget-resetpass)', function (data) {
            $.ajax({
                url: '/api/reset',
                type: "POST",
                dataType: 'json',
                data: JSON.stringify(data.field),
                contentType: 'application/json;charset=UTF-8',
                success: function (result) {
                    if (result.code === 0) {
                        layer.msg(result.msg, {
                            icon: 1,
                            time: 2000
                        }, function () {
                            window.location.href = "/account/login";
                        });
                    }
                    if (result.code === 1) {
                        layer.msg(result.msg, {
                            icon: 2,
                            time: 2000
                        });
                    }
                }
            });
        });
    });
</script>