@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>admincreate</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-form" style="padding: 20px 30px 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["username"]</label>
            <div class="layui-form-mid">@Model.UserName</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["Token"]</label>
            <div class="layui-form-mid" id="token">@Model.AuthToken</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["tunnelprotocol"]</label>
            <div class="layui-input-block">
                <input type="radio" name="tunnelProtocol" value="http" title="http" checked="">
                <input type="radio" name="tunnelProtocol" value="https" title="https" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["tunnelname"]</label>
            <div class="layui-input-inline">
                <input type="text" name="tunnelName" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">@_localizer["tunnelname.tip"]</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["subdomain"]<span style="color:red">(*)</span></label>
            <div class="layui-input-inline">
                <input type="text" name="subDomain" lay-verify="required" lay-verType="tips" autocomplete="off" class="layui-input" oninput="setFullUrl(this)" onpropertychange="setFullUrl(this)">
            </div>
            <div class="layui-form-mid layui-word-aux">@_localizer["subdomain.tip"]</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["fullurl"]</label>
            <div class="layui-input-inline layui-hide">
                <input type="text" name="fullUrl" id="fullUrl" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid"><span id="domain"></span>@ViewData["Domain"]</div>
        </div>
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">@_localizer["localport"]</label>
            <div class="layui-input-inline">
                <input type="text" name="localPort" autocomplete="off" class="layui-input" value="0">
            </div>
            <div class="layui-form-mid layui-word-aux">@_localizer["localport.tip"]</div>
        </div>
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">@_localizer["remoteport"]</label>
            <div class="layui-input-inline">
                <input type="text" name="remotePort" lay-verify="number" autocomplete="off" class="layui-input" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["expiredtime"]</label>
            <div class="layui-input-inline">
                <input type="text" name="expiredTime" id="expiredTime" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <input type="button" lay-submit lay-filter="create" id="create" value="@_localizer["btn"]">
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/layuiadmin/layui/layui.js"></script>
<script>
    var setFullUrl;

    layui.config({
        base: '../../../layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'form', 'laydate'], function () {
        var form = layui.form
            , $ = layui.jquery
            , laydate = layui.laydate;

        laydate.render({
            elem: '#expiredTime'
            , type: 'datetime'
            , lang: '@_localizer["laydate.lang"]'
        });

        form.verify({
            required: [/[\S]+/, "@_localizer["required"]"],
            number: function (e) {
                if (!e || isNaN(e)) return "@_localizer["number"]"
            }
        });

        setFullUrl = function (e) {
            var value = $(e).val();
            $("#fullUrl").text(value);
            $("#domain").text(value);
        }
    });
</script>