@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>admincreate</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-form" style="padding: 20px 30px 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["tunnelId"]：</label>
            <div class="layui-form-mid">@Model.TunnelId</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["tunnelName"]：</label>
            <div class="layui-form-mid">@Model.TunnelName</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["tunnelProtocol"]：</label>
            <div class="layui-form-mid">@Model.TunnelProtocol</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["subDomain"]：</label>
            <div class="layui-form-mid">@Model.SubDomain</div>
        </div>
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">@_localizer["localPort"]：</label>
            <div class="layui-form-mid">@Model.LocalPort</div>
        </div>
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label">@_localizer["remotePort"]：</label>
            <div class="layui-input-inline">
                <input type="text" name="remotePort" lay-verify="number" lay-verType="tips"  autocomplete="off" class="layui-input" value="0">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">@_localizer["expiredTime"]：</label>
            <div class="layui-input-inline">
                <input type="text" name="expiredTime" id="expiredTime" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">@_localizer["expiredTime.tip"]</div>
        </div>
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <input type="button" lay-submit lay-filter="ok" id="ok" value="@_localizer["btn"]">
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/'
    }).extend({
        index: 'lib/index'
    }).use(['index', 'form', 'laydate'], function () {
        var form = layui.form
            , $ = layui.jquery
            , laydate = layui.laydate;
        $(".layui-form-label").css({
            "width": "100px",
            "font-weight": "bold"
        });
        form.verify({
            number: function (e) {
                if (!e || isNaN(e)) return "@_localizer["number"]"
            }
        });
        laydate.render({
            elem: '#expiredTime'
            , type: 'datetime'
            , lang: 'en'
        });
    });
</script>