<div class="layui-card">
    <div class="layui-card-body">
        <table id="userlist" lay-filter="userlist"></table>
        <script type="text/html" id="statusTpl">
            {{#  if(d.status === 0) { }}
            <button class="layui-btn-primary layui-btn-xs">@_localizer["待审核"]</button>
            {{#  } else if(d.status === 1) { }}
            <button class="layui-btn-primary layui-btn-xs">@_localizer["已通过"]</button>
            {{#  } else { }}
            <button class="layui-btn-primary layui-btn-xs">@_localizer["拒绝"]</button>
            {{#  } }}
        </script>
        <script type="text/html" id="onlineTpl">
            <a class="layui-btn layui-btn-xs" lay-event="online">@_localizer["查看状态"]</a>
        </script>
        <script type="text/html" id="table-content-list">
            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>@_localizer["编辑"]</a>
        </script>
    </div>
</div>
@section Scripts{
    <script>
        layui.config({
            base: '../../../layuiadmin/'
        }).extend({
            index: 'lib/index'
        }).use(['index', 'table'], function () {
            var table = layui.table
                , $ = layui.jquery;

            table.render({
                elem: '#userlist'
                , url: '/api/tunnels'
                , cols: [
                    [{
                        field: 'tunnelId',
                        title: '@_localizer["隧道ID"]'
                    }, {
                        field: 'tunnelName',
                        title: '@_localizer["隧道名称"]',
                    }, {
                        field: 'tunnelProtocol',
                        title: '@_localizer["隧道协议"]'
                    }, {
                        field: 'localPort',
                        title: '@_localizer["本地端口"]',
                    }, {
                        field: 'subDomain',
                        title: '@_localizer["前置域名"]',
                    }, {
                        field: 'openTime',
                        title: '@_localizer["开通日期"]',
                        sort: true,
                    }, {
                        field: 'expiredTime',
                        title: '@_localizer["到期日期"]',
                        sort: true,
                    }, {
                        field: 'fullUrl',
                        title: '@_localizer["访问地址"]',
                    }, {
                        field: 'status',
                        title: '@_localizer["是否开通"]',
                        templet: '#statusTpl',
                        align: 'center',
                    }, {
                        title: '@_localizer["状态"]',
                        templet: '#onlineTpl',
                        align: 'center',
                    }, {
                        title: '@_localizer["操作"]',
                        align: 'center',
                        fixed: 'right',
                        toolbar: '#table-content-list'
                    }]
                ],
                page: true,
                limit: 10,
                limits: [10, 15, 20, 25, 30],
                text: {
                    none: '@_localizer["text"]'
                }
            });

            table.on('tool(userlist)', function (obj) {
                if (obj.event === 'edit') {
                    layer.prompt({
                        title: '修改隧道名称'
                        , value: obj.data.tunnelName
                    }, function (text, index) {
                        var d = new Object();
                        d.tunnelName = text;
                        $.ajax({
                            type: "post",
                            dataType: 'json',
                            url: '/api/edit_tunnel?tunnelId=' + obj.data.tunnelId,
                            data: JSON.stringify(d),
                            contentType: 'application/json;charset=UTF-8',
                            success: function (result) {
                                if (result.code == 0) {
                                    layer.msg("修改成功！", {
                                        icon: 1,
                                        time: 1000
                                    }, function () {
                                        layer.close(index);
                                        obj.update({
                                            tunnelName: text
                                        });
                                    });
                                }
                            }
                        });
                    });
                } else if (obj.event === 'online') {
                    if (obj.data.status == 1) {
                        layer.msg("隧道不在线");
                    } else {
                        layer.msg("隧道未开通");
                    }
                }
            });
        });
    </script>
}