<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">@_localizer["title"]</div>
                <div class="layui-card-body">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">@_localizer["username"]：</label>
                            <div class="layui-form-mid">@Model.UserName</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">@_localizer["email"]：</label>
                            <div class="layui-form-mid">@Model.Email</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">@_localizer["registertime"]：</label>
                            <div class="layui-form-mid">@Model.RegisterTime</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">@_localizer["lastlogintime"]：</label>
                            <div class="layui-form-mid">@Model.LastLoginTime</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">@_localizer["lastloginip"]：</label>
                            <div class="layui-form-mid">@Model.LastLoginIP</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/jquery.min.js"></script>
    <script>
        $(".layui-form-label").css({
            "width": "100px",
            "font-weight":"bold"
        });
    </script>
}